name: "Run pinact"

on:
  pull_request:

jobs:
  pinact:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install pinact
        run: |
          curl -L -o pinact.tar.gz 'https://github.com/suzuki-shunsuke/pinact/releases/download/v3.8.0/pinact_linux_amd64.tar.gz'
          tar xzf pinact.tar.gz pinact

      - name: Run pinact
        env:
          REPOSITORY: ${{ github.repository }}
          REF: ${{ github.ref }}
          SHA: ${{ github.sha }}
        run: |
          OWNER=$(echo "$REPOSITORY" | cut -d '/' -f 1)
          REPO=$(echo "$REPOSITORY" | cut -d '/' -f 2)
          PRN=$(echo "$REF" | sed -e 's/[^0-9]//g')
          ./ghalint \
            -review \
            -repo-owner "$OWNER" \
            -repo-name "$REPO" \
            -pr "$PRN"
            -sha "$SHA"
            -u
