name: Build and push Docker image

on:
  push:
    tags:
      - "v*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}
          REGISTRY: ${{ env.REGISTRY }}
          REPOSITORY: ${{ github.repository }}
        run: |
          TAG="$GITHUB_REF_NAME"
          MAJOR="${TAG%%.*}"

          docker build \
            -t "$REGISTRY/$REPOSITORY:${TAG}" \
            -t "$REGISTRY/$REPOSITORY:${MAJOR}" \
            .

      - name: Push image
        run: |
          docker push --all-tags \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
