name: Run action

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: main
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run action
        uses: ./
        with:
          app_id: ${{ secrets.BOT_GITHUB_APP_ID }}
          kms_key_id: ${{ secrets.KMS_KEY_ID }}
          kms_keyring_id: ${{ secrets.KMS_KEYRING_ID }}
          kms_location: ${{ vars.KMS_LOCATION }}
          kms_project_id: ${{ vars.KMS_PROJECT_ID }}