name: Sync GitHub App Permissions

on:
  push:
    paths:
      - ".github/workflows/sync-permissions.yml"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: write
      pull-requests: write
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Checkout octokit/openapi
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          repository: "octokit/openapi"
          path: "./openapi"

      - name: Make inputs fragment from OpenAPI schema
        run: |
          jq -r '.components.schemas["app-permissions"].properties | to_entries | .[] | "  - permission-\(.key | gsub("_"; "-")):\n    description: \"\(.value.description) (\(.value.enum | join("/")))\"\n    required: false"' ./openapi/generated/api.github.com.json

