name: "Go test"

on:
  pull_request:
  push:
    paths:
      - "main"

jobs:
  test:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-go@v6

      - name: go test
        run: |
          go test -v -cover -race ./...