name: "Go test"

on:
  pull_request:
  push:
    paths:
      - "main"

jobs:
  test:
    runs-on: ubuntu-slim
    timeout-minutes: 15
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'

      - name: go test
        run: |
          go test -v -cover -race ./...
