name: Test run action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    environment: main
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}

      - name: Run action
        id: token
        uses: ./
        with:
          app_id: ${{ secrets.BOT_GITHUB_APP_ID }}
          kms_key_id: ${{ secrets.KMS_KEY_ID }}
          kms_keyring_id: ${{ secrets.KMS_KEYRING_ID }}
          kms_location: ${{ vars.KMS_LOCATION }}
          kms_project_id: ${{ vars.KMS_PROJECT_ID }}
          owner: yagihash
          repositories: |
            ghat
          permission_contents: read
          permission_pull_requests: read

      - name: Test token
        env:
          GH_TOKEN: ${{ steps.token.outputs.token }}
        run: |
          gh auth status
